//
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body, input {
  font-family: "Source Sans Pro", sans-serif;
}

div {
  box-sizing: border-box;
}

// Custom

.emojis {
  overflow: auto;
  height: 150px;
}

.emoji {
  cursor: pointer;
  padding: 5px 20px;
  border: 2px solid transparent;
  &:hover {
    border-radius: 50px;
    border-color: #78BBE6;
  }
}

input.search {
  padding: 20px;
  width: 100%;
  border-radius: 50px;
  -webkit-appearance: textfield;
}
